### **One Sample t Test**

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# **Example-1**

In [3]:
xbar = 10.5
sigma = 1.5
n = 40
mu = 10

H0: mu = 10

h1: mu > 10

# **Test Statistic**

In [4]:
z = ( xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

# p-value

In [5]:
p = 1 - stats.norm.cdf(z)
p

0.017507490509831247

In [ ]:
stats.ttest_1samp(a, 10, axis=0, alternative='greater')

In [8]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [9]:
df = sns.load_dataset('mpg')

In [10]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [11]:
df[df['origin'] == 'usa'].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.000000,249.000000,249.000000,245.00000,249.000000,249.000000,249.000000
mean,20.083534,6.248996,245.901606,119.04898,3361.931727,15.033735,75.610442
std,6.402892,1.661425,98.501839,39.89779,794.792506,2.751112,3.677094
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3365.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4054.000000,16.900000,79.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

In [15]:
stats.ttest_1samp(df[df['origin'] == 'usa']['horsepower'].dropna(), 110)

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0004620071779080864)

In [16]:
stats.ttest_1samp(df[df['origin'] == 'usa']['mpg'],22)

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=3.891005205691281e-06)

In [17]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [18]:
stats.ttest_1samp(df[df['origin']== 'europe']['horsepower'].dropna(),100)

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=2.92474723426341e-11)

In [22]:
stats.ttest_1samp(df[df["origin"] == "europe"]["weight"].dropna(),3000)

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)

In [23]:
df[df['origin'] == 'europe']['weight'].describe()

count      70.000000
mean     2423.300000
std       490.043191
min      1825.000000
25%      2067.250000
50%      2240.000000
75%      2769.750000
max      3820.000000
Name: weight, dtype: float64

In [24]:
stats.ttest_1samp(df[df["origin"] == "europe"]["weight"],3000)

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)